.mood-tracker {
    font-size: .8rem;
    /* width: 500px; */
}

.card {
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.card h2 {
    margin: 0 0 20px 0;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
}

.mood-emojis {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;

}

button.mood {
    background: #f8f9fa;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 0;
    border-radius: 20%;

    &hover {
        transform: scale(1.1);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
}

.mood-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 92%;
    max-width: 400px;
    margin: 0 auto;
}

.note-input {
    display: block;
    border: 1px solid var(--gray-800);
    padding: 12px 16px;
    border-radius: 8px;
    color: #999;
    box-shadow: 0 0 0 3px rgba(72, 73, 75, 0.1);
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.note-input input::placeholder {
    color: #999;
    font-size: 1rem;
    font-style: italic;
}

.save-btn {
    padding: 12px;
    background: #6c757d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.save-btn:hover {
    background: #5a6268;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(108, 117, 125, 0.3);
}

.save-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}